<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {% if false %}
    {{ content_for_header }}
  {% endif %}
  {{ content_for_header | replace: "<body onload='document._boomrl();'>", "<bodx onload='document._boomrl();'>" }}

  {% render 'css-variables' %}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

  {% if template.name == 'index' %}
    {% render 'include__index--schema-json' %}
  {% endif %}

</head>
<body>
  {% if settings.show_top_bar %}
    {% section 'site__top-bar' %}
  {% endif %}

  {%- if settings.header_layout == "classic" -%}
    {% section 'site__header_classic' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'site__header_centered' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'site__header_search-focus' %}
  {%- endif -%}

  {% if settings.show_announcement_bar %}
    {% section 'site__announcement-bar' %}
  {% endif %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {% if settings.show_newsletter %}
    {% section 'site__newsletter' %}
  {% endif %}

  {% section 'site__footer' %}

  {% if settings.show_bottom_bar %}
    {% section 'site__bottom-bar' %}
  {% endif %}

  {{ 'application.js' | asset_url | script_tag }}
</body>
</html>
